/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/resources
/public/static
/public/mix-manifest.json
/public/css
!/public/css/fonts
/public/js
!/public/js/niche-detective
storage
/nbproject/private/
/coverage/
/public/coverage/
/public/blog/sites/default/settings.local.php
_ide_helper.php
.vagrant
/setup
config.yaml
Vagrantfile
.env.dev